<section id="about" class="about-us">
    <div class="about-container">
        <h2 class="about-tittle">About us</h2>
        <h3 class="about-subtittle">Our сraftsmanship: сreating unique handmade furniture</h3>
        <p class="about-text"> Discover the inspiration behind our modern and minimalist designs, and
            see how we bring them to life through our skilled craftsmanship.
        </p>
        <ul class="about-list">
            <li class="about-item">
                <span class="about-number">5+</span>
                <p class="about-info">Years of experience creating handcrafted furniture</p>
            </li>
            <li class="about-item">
                <span class="about-number">100%</span>
                <p class="about-info">Sustainably sourced materials used in all of our furniture</p>
            </li>
            <li class="about-item">
                <span class="about-number">500+</span>
                <p class="about-info">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
    </div>
    <picture>
        <source srcset="./img/desctop-product4-1x.jpg 1x, ./img/desctop-product4-2x.jpg 2x" media="(min-width: 1440px)">
        <source srcset="./img/desctop-product4-1x.jpg 1x, ./img/desctop-product4-2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="./img/tablet-product3-1x.jpg 1x, ./img/tablet-product3-2x.jpg 2x" media="(min-width: 375px)">
        <img src="./img/mobile-product2-1x.jpg" alt="bad&flower" class="about-picture">
    </picture>
</section>