<section class="about-us">
    <div class="container about-container">
        <h2 class="name-sec-about">About us</h2>
        <h3 class="about-name">OUR CRAFTSMANSHIP: CREATING UNIQUE HANDMADE FURNITURE</h3>
        <p class="ab-par"> Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.
        </p>
        <ul>
            <li>
                <span>5+</span>
                <p class="about-par-2">Years of experience creating handcrafted furniture</p>
            </li>
            <li>
                <span>100%</span>
                <p class="about-par-3">Sustainably sourced materials used in all of our furniture</p>
        </li>
            <li>
                <span>500+</span>
                <p class="about-par-4">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
        <p class="about-par-5">
            <img srcset="./img/desctop-product2-1x.jpg 1x, ./img/desctop-product2-2x.jpg 2x" 
            src="./img/desctop-product2-1x.jpg" alt="bad&flower" class="about-img" width="375">
        </p>
    </div>
</section>