
<!-- BESTSELLERS -->

<section id="bestsellers" class="bestsellers">
    <h2 class="title-bestseller">Bestsellers</h2>

    <div class="bestsellers-container bestseller-flex" >
    
    <div class="bestseller-box">
        <picture class="bestseller-img">
            <source srcset="./img/desctop-product9-1x.jpg 1x,
                            ./img/desctop-product9-2x.jpg 2x" media="(min-width: 1440px)"/>

            <source srcset="./img/tablet-product6-1x.jpg 1x,
                            ./img/tablet-product6-2x.jpg 2x" media="(min-width: 768px)"/>

            <img src="./img/mobile-product4-1x.jpg" alt="The modern platform bed" class="bestseller-img desctop-img" >
        </picture>
        <p class="bestseller-text">The modern platform bed</p>
        <p class="bestseller-price">750$</p>
    </div>
            
      <div>
        <ul class="bestseller-list">
            <li class="bestseller-title">
          <picture>
              <source srcset="./img/desctop-product10-1x.jpg 1x,
                              ./img/desctop-product10-2x.jpg 2x" media="(min-width: 1440px)"/>
        
              <source srcset="./img/tablet-product7-1x.jpg 1x,
                              ./img/tablet-product7-2x.jpg 2x" media="(min-width: 768px)"/>
        
              <img src="./img/mobile-product5-1x.jpg" alt="The Cozy Lounge Chair" class="bestseller-img">
          </picture>
               
                <p class="bestseller-text">The Cozy Lounge Chair</p>
                <p class="bestseller-price">230$</p>
            </li>
        
            <li class="bestseller-title">
          <picture>
              <source srcset="./img/desctop-product11-1x.jpg 1x,
                              ./img/desctop-product11-2x.jpg 2x" media="(min-width: 1440px)"/>
        
              <source srcset="./img/tablet-product8-1x.jpg 1x,
                              ./img/tablet-product8-2x.jpg 2x" media="(min-width: 768px)"/>
        
              <img src="./img/mobile-product6-1x.jpg" alt="The industrial accent chair" class="bestseller-img">
            </picture>
               
                <p class="bestseller-text">The industrial accent chair</p>
                <p class="bestseller-price">250$</p>
            </li>
        
            <li class="bestseller-title none-img">
          <picture>
              <source srcset="./img/desctop-product12-1x.jpg 1x,
                              ./img/desctop-product12-2x.jpg 2x" media="(min-width: 1440px)"/>
        
              <source srcset="./img/tablet-product9-1x.jpg 1x,
                              ./img/tablet-product9-2x.jpg 2x" media="(min-width: 768px)"/>
        
              <img src="./img/tablet-product9-1x.jpg" alt="The sleek stand" class="bestseller-img">
            </picture>
               
                 <p class="bestseller-text">The sleek stand</p>
                 <p class="bestseller-price">300$</p>
             </li>
        
             <li class="bestseller-title none-img">
          <picture>
              <source srcset="./img/desctop-product13-1x.jpg 1x,
                              ./img/desctop-product13-2x.jpg 2x" media="(min-width: 1440px)"/>
        
              <source srcset="./img/tablet-product10-1x.jpg 1x,
                              ./img/tablet-product10-2x.jpg 2x" media="(min-width: 768px)"/>
        
              <img src="./img/tablet-product10-1x.jpg" alt="The minimalist sofa" class="bestseller-img">
            </picture>
                
                 <p class="bestseller-text">The minimalist sofa</p>
                 <p class="bestseller-price">650$</p>
             </li>
        
        </ul>
      </div>
       
    </div>
</section>
