
<!-- BESTSELLER -->

<section class="bestseller">

    <div class="container">
        <h2 class="section-title-bestseller">Bestsellers</h2>

    <ul class="bestseller-list">
        <li class="bestseller-title">
            <img src="./img/product 4.jpg" alt="The modern platform bed" class="bestseller-img">
            <p class="bestseller-text">The modern platform bed</p>
            <p class="bestseller-price">750$</p>
        </li>

        <li class="bestseller-title">
           <img src="../img/product 5.jpg" alt="The Cozy Lounge Chair" class="bestseller-img">
            <p class="bestseller-text">The Cozy Lounge Chair</p>
            <p class="bestseller-price">230$</p>
        </li>

        <li class="bestseller-title">
           <img src="../img/product 6.jpg" alt="The industrial accent chair" class="bestseller-img">
            <p class="bestseller-text">The industrial accent chair</p>
            <p class="bestseller-price">250$</p>
        </li>
    </ul>
    </div>
</section>
