<header class="header">
    <div class="header-container">
        <a href="../index.html" class="header-logo"><svg width="100" height="18">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg></a>
        <ul class="header-menu-list">
            <li class="mob-menu-item">About us</li>
            <li class="mob-menu-item">Our products</li>
            <li class="mob-menu-item">Prices</li>
            <li class="mob-menu-item">Bestsellers</li>
            <li class="mob-menu-item">Reviews</li>
            <li class="mob-menu-item">Contacts</li>
        </ul>
        <button type="button" class="mob-menu-open" data-menu-open><svg width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-burger"></use>
          </svg></button>
          <!----------------------- MOB-MENU ------------------------------>
      <div class="mob-menu is-hidden" data-menu>
        <div class="mob-header-container">
            <a href="./index.html" class="header-logo"><svg width="100" height="18">
                <use href="./img/symbol-defs.svg#icon-logo"></use>
            </svg></a>
        <button type="button" class="mob-menu-close" data-menu-close>
          <svg class="mob-menu-close-btn" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-x-close"></use>
          </svg>
        </button>
        </div>
        <ul class="mob-menu-list">
            <li class="mob-menu-item">About us</li>
            <li class="mob-menu-item">Our products</li>
            <li class="mob-menu-item">Prices</li>
            <li class="mob-menu-item">Bestsellers</li>
            <li class="mob-menu-item">Reviews</li>
            <li class="mob-menu-item">Contacts</li>
        </ul>
    </div>
    </div>
</header>
