<section class="hero-section">
    <div class="hero-container">
        <div class="hero-box-first">
            <h1 class="hero-title">Modern and minimalist furniture for you</h1>
        </div>
        <div class="hero-box-second">
            <div class="hero-box-item">
                <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
                <a href="#subscription" class="hero-link">Subscribe</a>
            </div>
        </div>
    </div>
</section>