<section id="our-products" class="products">
    <div class="container-products">
        <h2 class="section-product">Our products</h2>
        <ul class="product-list list">
            <li class="product-title">
                <picture>
                    <source srcset="./img/desctop-product5-1x.jpg 1x,
                                              ./img/desctop-product5-2x.jpg 2x" media="(min-width: 1440px)">

                    <source srcset="./img/tablet-product4-1x.jpg 1x,
                                              ./img/tablet-product4-2x.jpg 2x" media="(min-width: 768px)">

                    <img srcset="./img/mobile-product3-1x.jpg 1x, ./img/mobile-product3-2x.jpg 2x"
                        src="./img/mobile-product3-1x.jpg" alt="minimalist storage solutions" class="product-img">
                </picture>

                <p class="product-text">Minimalist storage solutions</p>
            </li>
            <li class="product-title">
                <picture>
                    <source srcset="./img/desctop-product6-1x.jpg 1x,
                                                              ./img/desctop-product6-2x.jpg 2x"
                        media="(min-width: 1440px)">

                    <source srcset="./img/tablet-product5-1x.jpg 1x,
                                                              ./img/tablet-product5-2x.jpg 2x"
                        media="(min-width: 768px)">

                    <img srcset="./img/tablet-product5-1x.jpg 1x, ./img/tablet-product5-2x.jpg 2x"
                        src="./img/tablet-product5-1x.jpg" alt="handcrafted minimalist seating" width="343" height="300"
                        class="product-img">
                </picture>

                <p class="product-text">Handcrafted minimalist seating</p>
            </li>
            <li class="product-title">
                <img srcset="./img/desctop-product7-1x.jpg 1x, ./img/desctop-product7-2x.jpg 2x"
                    src="./img/desctop-product7-1x.jpg" alt="sleek and simple tables" width="343" height="300"
                    class="product-img">
                <p class="product-text">Sleek and simple tables</p>
            </li>
            <li class="product-title">
                <img srcset="./img/desctop-product8-1x.jpg 1x, ./img/desctop-product8-2x.jpg 2x"
                    src="./img/desctop-product8-1x.jpg" alt="minimalist seating for every space" width="343"
                    height="300" class="product-img">
                <p class="product-text">Minimalist seating for every space</p>
            </li>
        </ul>
    </div>
</section>