<!-- PRICE -->
<section class="price">
    <div class="container-price">
        <h2 class="visually-hidden">Price</h2>
        <ul class="price-list list">
            <hr>
            <li class="price-title">
                <p class="price-text price-text-line">Chairs</p>
                <p class="price-cost">from 200₴</p>
            </li>
            <hr>
            <li class="price-title">
                <p class="price-text price-text-line">Tables</p>
                <p class="price-cost">from 250₴</p>
            </li>
            <hr>
            <li class="price-title">
                <p class="price-text price-text-line">Dressers</p>
                <p class="price-cost">from 300₴</p>
            </li>
            <hr>
            <li class="price-title">
                <p class="price-text price-text-line">Sofas</p>
                <p class="price-cost">from 500₴</p>
            </li>
            <hr>
        </ul>
    </div>
</section>