.about-us {
    padding: 64px 0;
color: var(--main-buttons-color);
}

.about-container {
    width: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.about-name-sec {
    display: flex;
    align-items:flex-start;
    /* justify-content: center; */
    gap: 20px;
    color: var(--main-buttons-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 30px;
}

.about-name-sec::before {
    width: 30px;
    height: 2px;
    content: "";
    color: var(--main-buttons-color);
}

.about-name {
    color: var(--main-buttons-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.15;
    /* text-transform: uppercase; */
    margin-bottom: 30px;
    max-width: 343px;
}

.about-par {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
}

.about-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 14px;
    padding-bottom: 64px;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
}

.about-item {
    align-items: center;
    margin-top: 30px;
}

.about-span {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.15;
    max-width: 170px;
}

.about-par-2, .about-par-3, .about-par-4 {
    padding-top: 14px;
}

.about-par-5{
    width: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

/****************MEDIA-ABOUT*************/
@media screen and ( min-width: 768px) {
    
.about-us {
    max-width: 1440px;
    padding: 100px 0;
    margin: 0 auto;
}
    
.about-container {
    width: 100%;
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.about-name-sec::before {
    padding-left: 64px;
}
.about-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    line-height: 1.14;
    margin: 0 auto;
    max-width: 576px;
}

.about-par {
    font-size: 18px; 
}
.about-par-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 576px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-width: 576px;
    gap: 33px;
}

.about-item {
    gap: 33px;
}

.about-par-2,
.about-par-3,
.about-par-4 {
    width: 100%;
    max-width: 170px;
}

.about-par-5 {
    width: 100%;
    max-width: 704px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 1440px) {

.about-us {
    padding: 100px 0 100px;
}
.about-cont-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 93px;
    max-width: 1440px;
    gap: 24px;
}

.about-container {
    padding-top: 21px;
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 24px;
    }

.about-name-sec {
    padding-top: 36px;
}

.about-par {
    padding-top: 30px;
}

.about-list {
    padding-top: 30px;
}

.about-par-5 {
    display: flex;
    width: 100%;
    max-width: 536px;
}
}