.clients-section {
  background: #f7faff;
  padding: 36px 0 36px 0;
}
.clients-background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-review {
  width: 100%;
  max-width: 375px;
}
.clients-tittle {
  color: var(--main-buttons-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  max-width: 343px;
  color: var(--main-buttons-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 36px;
  /* margin-right: 16px;
  margin-left: 16px; */
  display: none;
}
.clients-item:first-child {
  display: block;
}
.clients-form {
  display: flex;
}
.clients-photo {
  margin: 24px 14px 20px 24px;
  width: 48px;
  height: 48px;
}
.clients-name {
  color: var(--main-buttons-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.79;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 2px;
}
.clients-time {
  color: var(--main-buttons-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.clients-words {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  padding: 24px;
  padding-top: 0;
}
/* -----------  TABLET -----------  */
@media screen and (min-width: 768px) {
  .clients-review {
    width: 100%;
    max-width: 768px;
  }
  .clients-tittle {
    font-size: 32px;
    line-height: 1.4;
  }
  .clients-name {
    font-size: 20px;
    line-height: 2.3;
  }
  .clients-time {
    font-size: 16px;
    line-height: 1.5;
  }
  .clients-photo {
    margin: 28.5px 14px 18.5px 24px;
    width: 56px;
    height: 56px;
  }
  .clients-words {
    font-size: 18px;
    line-height: 1.5;
  }
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .clients-item:nth-child(-n + 2) {
    display: block;
  }
}
/* -----------  PC -----------  */
@media screen and (min-width: 1440px) {
  .clients-review {
    width: 100%;
    max-width: 1440px;
  }
  .clients-item {
    display: block;
    width: calc((100% - 48px) / 3);
  }
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .clients-name {
    font-size: 20px;
    line-height: 2.3;
  }
  .clients-time {
    font-size: 16px;
    line-height: 1.5;
  }
  .clients-photo {
    margin: 36.5px 14px 20.5px 32px;
    width: 56px;
    height: 56px;
  }
  .clients-words {
    font-size: 18px;
    line-height: 1.5;
    padding-top: 0;
  }

  .clients-list {
    column-gap: 16px;
  }
}
