.clients-section {
  background: #f7faff;
  padding: 36px 0 36px 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.clients-tittle {
  color: var(--main-buttons-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.clients-item {
  max-width: 343px;
  color: var(--main-buttons-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 8px;
  background-color: #fff;
  display: none;
  padding: 24px;
}
.clients-item:first-child {
  display: block;
}
.clients-form {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}
.clients-photo {
  width: 48px;
  height: 48px;
}
.clients-name {
  color: var(--main-buttons-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.79;
  text-transform: uppercase;
}
.clients-time {
  color: var(--main-buttons-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.clients-words {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}
/* -----------  TABLET -----------  */
@media screen and (min-width: 768px) {
  .clients-review {
    width: 100%;
    max-width: 768px;
  }
  .clients-tittle {
    font-size: 32px;
    line-height: 1.4;
  }
  .clients-name {
    font-size: 20px;
    line-height: 2.3;
  }
  .clients-time {
    font-size: 16px;
    line-height: 1.5;
  }
  .clients-photo {
    /* margin: 28.5px 14px 18.5px 24px; */
    width: 56px;
    height: 56px;
  }
  .clients-words {
    font-size: 18px;
    line-height: 1.5;
  }
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .clients-item:nth-child(-n + 2) {
    display: block;
  }
}
/* -----------  PC -----------  */
@media screen and (min-width: 1440px) {
  .clients-item {
    display: block;
    max-width: 424px;
    padding: 32px;
  }

  .clients-list {
    gap: 24px;
  }

  /*.clients-review {
    width: 100%;
    max-width: 1320px;
  }
  */
  /*
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .clients-name {
    font-size: 20px;
    line-height: 2.3;
  }
  .clients-time {
    font-size: 16px;
    line-height: 1.5;
  }
  .clients-photo {
    width: 56px;
    height: 56px;
  }
  .clients-words {
    font-size: 18px;
    line-height: 1.5;
  } */
}
