:root {
    --main-buttons-color: #0A224A;
    --main-form-color: #B6B6B6;
    --main-font-color: #F7FAFF;
    --main-text-color: #7A7A7A;
    --main-text-color: #0A224A;
    --main-footer-color: #ffffff;
    --main-text-color: #F7FAFF;
    --main-error-color: #E74A3B;
  }