:root {
  --main-buttons-color: #0a224a;
  --main-form-color: #b6b6b6;
  --main-font-color: #f7faff;
  --main-text-color: #7a7a7a;
  --main-footer-color: #ffffff;
  --main-error-color: #e74a3b;
  --white: #ffffff;
}
