.header {background: var(--light-blue, #F7FAFF);
padding: 0px 16px;
}

.header-container {
    max-width: 375px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    
    margin-left: auto;
    margin-right: auto;
}

.header-menu-list {display: none;}

.header-logo {
    flex-shrink: 0;
}

.mob-menu-open {
    border: none;
    background-color: var(--light-blue, #F7FAFF);
}

.is-hidden {
    left: -900px;
    visibility: hidden;
    pointer-events: none;
  }
  
.mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white, #FFF);
    z-index: 2;
    display: flex;
    flex-direction: column;
     transition: left 0.3s ease;
  }

  .mob-header-container {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 16px;
    background: var(--light-blue, #F7FAFF);
  }

  .mob-menu-close {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
  }

  .header-logo {
    width: 100px;
    height: 18px;
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-top: 114px;
  }

  .mob-menu-item {
    color: var(--blue-font, #0A224A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .no-scroll {overflow: hidden;}



  @media screen and (min-width: 768px) {
    .header {padding: 0px 32px;}

    .header-container {
        max-width: 704px;
    }

    .mob-header-container {
        padding: 28px 32px;
    }

    .mob-menu-list {
        padding-top: 150px;
        gap: 30px;
    }

    .mob-menu-item {font-size: 18px;}

    }




    
    @media screen and (min-width: 1440px) {
      .header {padding: 0px 60px;}


        .header-container {max-width: 1320px;
        }

        .menu-wrap {
          min-width: 1440px;
          display: flex;
          justify-content: space-between;
        }

        .mob-menu-open {display: none;}

        .header-menu-list {display: flex;
        gap: 30px;}



    }
/* 
    .header-container {max-width: 1439px;
    padding: 28px 32px;}


    .mob-menu-list {padding-top: 150px;
    
    }

    }
 */