.hero-section{
    padding: 140px 0;
    
}
.container {
    
}

.hero-container {
    background-image: url(../img/mobile-product1-1x.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
        background-position: center;
        max-width: 428px;
        margin: 0 auto;
}

.hero-box-first {}

.hero-title {
    max-width: 285px;
    color: var(--blue-font, #0A224A);
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 140px;
    margin-bottom: 14px;
}

.hero-box-second {}

.hero-text {
color: var(--blue-font, #0A224A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 18px;
}

.hero-link {}

.hero-button {
    display: flex;
        width: 224px;
        padding: 12px 65px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        background: var(--blue-font, #0A224A);
        color: var(--white, #FFF);
        border: none;
        cursor: pointer;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
}