 .hero-section{
    padding-top: 140px;
        padding-bottom: 313px;
        padding-left: 16px;
        padding-right: 52px;
        background-image: url(../img/mobile-product1-1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        max-width: 375px;
 }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero-section {
          background-image: url(../img/mobile-product1-2x.jpg);
      }
  }
 .hero-container {
     width: 100%;
     max-width: 375px;
     
 }

 .hero-title {
     max-width: 285px;
     color: var(--blue-font, #0A224A);
     font-family: Playfair Display;
     font-size: 28px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5;
     text-transform: uppercase;
     margin-bottom: 14px;
 }

 .hero-text {
     color: var(--blue-font, #0A224A);
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: 28px;
 }

 .hero-link {
     display: flex;
     width: 224px;
     padding: 12px 65px;
     justify-content: center;
     align-items: center;
     gap: 6px;
     background: var(--blue-font, #0A224A);
     color: var(--white, #FFF);
     border: none;
     cursor: pointer;
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.5;
 }

 @media screen and (min-width: 768px) {
     .hero-section{
        padding-top: 64px;
        padding-bottom: 100px;
        padding-left: 28px;
        padding-right: 32px;
        background-image: none;
        max-width: 768px;
     }
     
     .hero-container {
        max-width: 706px;     

     }

    .hero-box-first{
     background-image: url(../img/tablet-product1-1x.jpg),
      url(../img/tablet-product2-1x.jpg);
      background-position: left bottom, right bottom;
      background-size: auto;
      background-repeat: no-repeat;
      height: 531px;
   
    }

    /* @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-box-first {
        background-image: url(../img/tablet-product1-2x.jpg),
        url(../img/tablet-product2-2x.jpg);
    }
    } */
     .hero-title {
         max-width: 648px;
         font-size: 50px;
         
     }

     .hero-box-second {
        margin-top: 32px;
     }

     .hero-text {
         font-size: 18px;
         max-width: 312px;
         margin-bottom: 30px;
     }

     .hero-link {
         height: 50px;
         padding: 17px 65px;

     }
 }

 @media screen and (min-width: 1440px) {
     .hero-section{
      max-width: 1440px;
      padding-left: 60px;
      padding-right: 60px;
     }
    .hero-container{
        display: flex;
        max-width: 1320px;
    }
    .hero-box-first{
        background-image: url(../img/desctop-product1-1x.jpg), 
        url(../img/desctop-product2-1x.jpg);
        width: 100%;
        max-width: 983px;
        margin-right: 25px;
    }
    .hero-box-second{
        background-image: url(../img/desctop-product3-1x.jpg);
        background-repeat: no-repeat;
        margin-top: 0;
        width: 100%;
        max-width: 312px;
        display: flex;
        justify-content: end;
        flex-direction: column;
    }
      
        /* @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero-box-first{
        background-image: url(../img/desctop-product1-2x.jpg),
        url(../img/desctop-product2-2x.jpg);
        }
        .hero-box-second{
        background-image: url(../img/desctop-product3-2x.jpg);
        }
        } */
        .hero-text{
            max-width: 312px;
            
        }
        .hero-link{
            margin-bottom: 0;
        }
    }
