hr {
  height: 1px;
  background: #0a224a;
}

.container-price {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  /* padding-left: 16px;
  padding-right: 16px; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
  padding-left: 0;
}

.price-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.price-text {
  color: #0a224a;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  text-align: left;
}
.price-text-line::before {
  content: '';
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateX(50%);
  height: 2px;
  width: 20px;
  background-color: white;
}

.price-text-line:hover::before {
  background-color: #0a224a;
}

.price-text:hover {
  transform: translateX(30px);
}

.price-cost {
  color: #0a224a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .container-price {
    max-width: 704px;
  }

  .price-text {
    font-size: 32px;
    line-height: 1.41;
  }

  .price-cost {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container-price {
    max-width: 1096px;
  }
}
